@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #428bca;
}
.navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

.nav .nav-pills .nav-stacked > li > .navbar-brand{
        font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
   font-size: 21px;
  font-weight: 50;
  line-height: 1.1;
  color: #428bca;
}

h2{
   font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
   font-size: 30px;
  font-weight: 50;
  line-height: 1.1;
  color: #428bca;     
}
h3{
   font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 50;
  font-size: 21px;
  line-height: 1.1;
  color: #000000;     
}
h4{
   font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 10;
  font-size: 21px;
  line-height: 1.1;
  color: #808080;
}
.radio span {
        font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 50;
  line-height: 1.1;
  color: #000000
}
title{
        background-color: #428bca;
}
div{
        color: black;
}
li .active {
    color:white;
}



#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
html{
        margin: 0px 50px 10px 50px ;
        padding: 0px;
        
}

body {
  background-color: #fff;
  font-weight: 100;
  line-height: 1.1;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
body {
  font-size: 16px;
  color: #fff;

}

a:hover {
    color: red;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav>li>a 
{
  background-image: url(texturebg.png);
  color:white;
}
.navbar {
    position: relative;
    min-height: 60px;
    background-image: url(texturebg.png);
   border: 1px solid transparent;
}
.content {
    max-width: 1000px;
}

div, span{
        font-family: "News Cycle", "Arial Narrow Bold", sans-serif;;
}
botton .bin .btn-primary{
        background-color:#0000ff;
}